.continuous-calendar {
	width: 100%;
}

.continuous-calendar th .prev, .continuous-calendar th .next {
	color: #000;
	display: inline-block;
	width: 50%;
}

.continuous-calendar td {
	width: calc(100% / 8);
	height: 100px;
	max-height: 100px;
}

.continuous-calendar td span {
	padding: 5px;
	border-radius: 50%;
	font-size: 10px;
}

.continuous-calendar td .event {
	display: block;
}

.continuous-calendar td.today span {
	background-color: #CCFFF7;
	font-weight: bold;
}

.continuous-calendar td.day-in-month-0 {
	background-color: #FFFFFF;
}

.continuous-calendar td.day-in-month-1 {
	background-color: #F5F5F5;
}

